<div class="container p-4">
  <div class="row">
    {{#each list}}
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body shadow">
            <h3 class="card-title text-uppercase">
              {{nombre}}
            </h3>
            <p class="m-2">{{nivel}}</p>
            <a href="/api/course/delete/{{id}}" class="btn btn-danger">Eliminar</a>
            <a href="/api/course/update/{{id}}" class="btn btn-secondary">Actualizar</a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center shadow">
          <p>No hay materias registradas... </p>
          <a href="/api/course/register">Agregar una materia.</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>